{% extends 'main/base.html'%}
{% load static %}
{% block content %}
    <div class="container w-75">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'main_page'%}">Главная</a></li>
            <li class="breadcrumb-item active" aria-current="page">Услуги</li>
          </ol>
        </nav>
    </div>
    <div class="map" style="display: flex; justify-content:center;">
            {{ page.map|safe }}
    </div>
    <div class="container w-75">
        <div class="row">
            <div class="col-xs-12 col-sm-7 col-md-8">
                <div class="page-header">
                    <h1>{{ page.title }}</h1>
                </div>
                {{ page.description|safe }}
            </div>
            <div class="col-xs-12 col-sm-5 col-md-4">
                <div class="page-header">
                    <h1>Контакты</h1>
                </div>
                <div class="box">
                    <p><i class="fas fa-user-circle"></i>{{ page.name_u }}</p>
                    <p><i class="fas fa-compass"></i> {{ page.location }}</p>
                    <p><i class="fas fa-map-marker"></i> {{ page.address }}</p>
                    <p><i class="fas fa-phone"></i> <a href="">{{ page.phone }}</a></p>
                    <p><i class="fas fa-envelope"></i> <a href="mailto:info@avada-media.com.ua">{{ page.e_mail }}</a></p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
<script>
    $('#contact').addClass('active');
</script>

{% endblock %}