{% extends 'admin_app/base.html'%}
{% load static%}
{% load widget_tweaks %}
{% block content%}
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Редактирование страницы</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/admin_app">Главная</a></li>
                    <li class="breadcrumb-item active">Редактирование страницы</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section content="content">
    <div class="row">
        <div class="col-xs-12 col-12 mt-2">
            <div class="card">
                <div class="card-header with-border">
                    <h3 class="card-title">Редактирование страницы "Контакты"</h3>
                    <div class="card-tools">

                    </div>
                </div>
                <div class="card-body">
                    <form id="w0" action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-xs-12 col-md-8">
                                <div class="col-sm-12">
                                    <h3 class="page-header">Услуги</h3>
                                </div>
                                <div class="col-sm-12">
                                    <label>Заголовок</label>
                                    <div>
                                        {{ form.title|add_class:'form-control' }}
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <label>Краткий текст</label>
                                    <div>
                                        {{ form.description|add_class:'form-control description' }}
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <label>Ссылка на комерческий сайт</label>
                                    <div>
                                        {{ form.link_commercial|add_class:'form-control' }}
                                    </div>
                                </div>



                            </div>
                            <div class="col-xs-12 col-md-4">
                                <div class="col-sm-12" style="text-align:center;">
                                    <h3 class="page-header">Контакты</h3>
                                </div>
                                <div class="col-sm-12">
                                    <label>ФИО</label>
                                    <div>
                                        {{ form.name_u|add_class:'form-control' }}
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <label>Локация</label>
                                    <div>
                                        {{ form.location|add_class:'form-control' }}
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <label>Адрес</label>
                                    <div>
                                        {{ form.address|add_class:'form-control' }}
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <label>Телефон</label>
                                    <div>
                                        {{ form.phone|add_class:'form-control' }}
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <label>E-mail</label>
                                    <div>
                                        {{ form.e_mail|add_class:'form-control' }}
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="row" style="margin:2rem;">
                            <div class="col-12">
                                <h3 class="page-header">Карта</h3>
                                <div class="col-sm-12">
                                    <label>Код карты</label>
                                    <div>
                                        {{ form.map|add_class:'form-control' }}
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="row" style="margin:2rem;">
                            <h3 class="page-header">Настройки SEO</h3>
                            <div class="col-md-12">
                                <label>Title</label>
                                <div>
                                    {{ seo_form.title|add_class:'form-control' }}
                                </div>
                            </div>
                            <div class="col-md-12">
                                <label>Description</label>
                                <div>
                                    {{ seo_form.description|add_class:'form-control' }}
                                </div>
                            </div>
                            <div class="col-md-12">
                                <label>Keywords</label>
                                <div>
                                    {{ seo_form.keywords|add_class:'form-control' }}
                                </div>
                            </div>
                        </div>
                        <div style="text-align: center;" class="p-5">
                            <button type="submit" class="btn btn-success">Сохранить</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block script %}
<script>

    $('.nav-link.active').removeClass('active');

        $('.nav-link').find('p:contains("Управление сайтом")').parents('.nav-link').addClass('active').parent().addClass('menu-is-opening menu-open');
        $('.nav-link').find('p:contains("Контакты")').parents('.nav-link').addClass('active');

        $('.description').summernote({
            minHeight: 220,
             lang:'ru-RU',
  styleTags: [
    'p', 'pre', 'h1', 'h2', 'h3', 'h4', 'h5', 'h6'
	],
            toolbar: [
                ['style', ['style']],
                ['font', ['bold', 'underline', 'clear']],
                ['para', ['ul', 'ol', 'paragraph']],
            ]
  });

</script>
{% endblock %}