{% extends 'admin_app/base.html'%}
{% load static%}
{% load widget_tweaks %}
{% block content%}
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Редактирование страницы</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Главная</a></li>
                    <li class="breadcrumb-item active">Редактирование страницы</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<section class="content">

    <div class="row">
        <div class="col-xs-12 col-12 mt-2">
            <div class="card">
                <div class="card-header with-border">
                    <h3 class="card-title">Редактирование страницы "О нас"</h3>
                </div>
                <div class="card-body">
                    <form id="w0" action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <h3 class="page-header">Информация</h3>
                        <div class="row">
                            <div class="col-md-8">
                                <div class="col-sm-12">
                                    <label>Заголовок</label>
                                    <div>
                                        {{ form.title|add_class:'form-control' }}
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <label>Краткий текст</label>
                                    <div>
                                        {{ form.description|add_class:'form-control description' }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <h4>Фото директора</h4>
                                <img src="{% if form.image.value %}{{ MEDIA_URL }}{{ form.image.value.url }}{% else %}{% static 'dist/img/empty.jpg' %}{% endif %}"
                                     alt="" class="w-100 margin-bottom-15">
                                <div class="form-group margin-bottom-30 field-websitehomeslide-0-imagefile">
                                    <label class="control-label" for="websitehomeslide-0-imagefile">Рекомендуемый
                                        размер: (250x310)</label>
                                    {{ form.image }}
                                </div>
                            </div>
                        </div>
                        <div class="row site-about-gallery">
                            <div class="col-xs-12 col-12">
                                <h3 class="page-header">Фотогалерея</h3>
                            </div>
                            {{ formset.management_form }}
                            {% for form in formset %}

                            <div class="col-xs-4 col-sm-2 text-center">
                                <img src="{{ form.image.value.url }}" alt="" class="margin-bottom-15 img-thumbnail">
                                <div class="form-group margin-bottom-15">
                                    <a href="{% url 'delete_image' form.id.value %}" data-confirm="Удалить?"
                                       title="Удалить"><i class="fa fa-trash text-red" aria-hidden="true"></i></a>
                                </div>
                                <div class="form-group formset_id">
                                    {{ form.id }}
                                </div>
                            </div>

                            {% endfor %}
                            <div class="col-xs-12 col-sm-12">
                                <label class="control-label">Рекомендуемый размер: (1200x1200)</label><br>
                                <div class="main-empty">
                                    {{ formset.empty_form.image }}
                                </div>
                            </div>
                        </div>
                        <h3 class="page-header">Дополнительная информация</h3>
                        <div class="col-md-12">
                            <div class="col-sm-12">
                                <label>Заголовок</label>
                                <div>
                                    {{ form.extra_title|add_class:'form-control' }}
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <label>Краткий текст</label>
                                <div>
                                    {{ form.extra_description|add_class:'form-control description' }}
                                </div>
                            </div>
                        </div>
                        <div class="row site-about-gallery" style="margin:2rem;">
                            <div class="col-xs-12 col-12">
                                <h3 class="page-header">Доп. фотогалерея</h3>
                            </div>

                            {{ extra_formset.management_form }}
                            {% for form in extra_formset %}
                            <div class="col-xs-4 col-sm-2 text-center">
                                <img src="{{ form.image.value.url }}" alt="" class="margin-bottom-15 img-thumbnail">
                                <div class="form-group margin-bottom-15">
                                    <a href="{% url 'delete_image' form.id.value %}"
                                       data-confirm="Удалить?" title="Удалить"><i class="fa fa-trash text-red"
                                                                                  aria-hidden="true"></i></a>
                                </div>
                                <div class="form-group formset_id">
                                    {{ form.id }}
                                </div>
                            </div>
                            {% endfor %}
                            <div class="col-xs-12 col-sm-12 ">
                                <label class="control-label">Рекомендуемый размер: (1200x1200)</label><br>
                                <div class="additional-empty">
                                    {{ extra_formset.empty_form.image }}
                                </div>
                            </div>
                        </div>
                        <div class="row site-about-documents" style="margin:2rem;">
                            <div class="col-xs-12 col-md-12">
                                <h3 class="page-header">Документы</h3>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <div id="form-websitedocument-rows">
                                    {{ doc_formset.management_form }}
                                    {% for form in doc_formset %}
                                    <div class="doc-formset-item">
                                        <div class="form-group">
                                            <a href="{% url 'delete_document' form.id.value %}"
                                               class="float-right text-red" data-confirm="Удалить?"><i
                                                    class="fa fa-trash"></i></a>
                                            <i class="far fa-file-pdf fa-3x float-left"
                                               style="width: 32px; margin-right: 10px;" aria-hidden="true"></i>
                                            <label>PDF, JPG (макс. размер 20 Mb)</label><br>
                                            {{ form.file }}
                                        </div>
                                        {{ form.name|add_class:'form-control' }}
                                        <div class="form-group formset_id">
                                            {{ form.id }}
                                        </div>
                                    </div>
                                    {% endfor %}
                                    <div class="empty-form-formset">
                                        <div class="doc-formset-item">
                                            <div class="form-group">
                                                <a href="" class="float-right text-red" data-confirm="Удалить?"><i
                                                        class="fa fa-trash"></i></a>
                                                <i class="far fa-file-pdf fa-3x float-left"
                                                   style="width: 32px; margin-right: 10px;" aria-hidden="true"></i>
                                                <label>PDF, JPG (макс. размер 20 Mb)</label><br>
                                                {{ doc_formset.empty_form.file }}
                                            </div>
                                            {{ doc_formset.empty_form.name|add_class:'form-control' }}
                                            <div class="form-group formset_id">
                                                {{ doc_formset.empty_form.id }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="btn-group">
                                    <button type="button"
                                            class="btn btn-success margin-bottom-15 form-row-add-websitedocument-btn">
                                        Добавить документ
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin:2rem;">
                            <h3 class="page-header">Настройки SEO</h3>
                            <div class="col-md-12">
                                <label>Title</label>
                                <div>
                                    {{ seo_form.title|add_class:'form-control' }}
                                </div>
                            </div>
                            <div class="col-md-12">
                                <label>Description</label>
                                <div>
                                    {{ seo_form.description|add_class:'form-control' }}
                                </div>
                            </div>
                            <div class="col-md-12">
                                <label>Keywords</label>
                                <div>
                                    {{ seo_form.keywords|add_class:'form-control' }}
                                </div>
                            </div>
                        </div>

                        <div style="text-align: center;" class="p-5">
                            <button type="submit" class="btn btn-success">Сохранить</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
{% block script%}
<script>

    $('.nav-link.active').removeClass('active');

        $('.nav-link').find('p:contains("Управление сайтом")').parents('.nav-link').addClass('active').parent().addClass('menu-is-opening menu-open');
        $('.nav-link').find('p:contains("О нас")').parents('.nav-link').addClass('active');

        $('.additional-image').prop('checked', true);
        $('.additional-empty label, .main-empty label').remove();
        $('.additional-empty #id_gallery-__prefix__-is_additional').prop('checked', true);
        $('.additional-empty input[type="checkbox"], .main-empty input[type="checkbox"]').css('display', 'none');
        let new_form = function (parent){
            let total_forms = $('#id_gallery-TOTAL_FORMS').val();
            console.log(parent);
            $('#id_gallery-TOTAL_FORMS').val(parseInt(total_forms)+1);
            let new_form_image = $(parent).find('#id_gallery-__prefix__-image');
            new_form_image.attr('name', 'gallery-'+total_forms+'-image');
            new_form_image.attr('id', new_form_image.attr('id').replace('__prefix__', total_forms));
            let new_form_add = $(parent).find('#id_gallery-__prefix__-is_additional');
            new_form_add.attr('name', 'gallery-'+total_forms+'-is_additional');
            new_form_add.attr('id', new_form_image.attr('id').replace('__prefix__', total_forms));
            let new_form_delete = $(parent).find('#id_gallery-__prefix__-DELETE');
            new_form_delete.attr('name', 'gallery-'+total_forms+'-DELETE');
            new_form_delete.attr('id', new_form_image.attr('id').replace('__prefix__', total_forms));
            let new_form_id = $(parent).find('#id_gallery-__prefix__-id');
            new_form_id.attr('name', 'gallery-'+total_forms+'-id');
            new_form_id.attr('id', new_form_image.attr('id').replace('__prefix__', total_forms));
        }

        let new_extra_form = function (parent){
            let total_forms = $('#id_extra_gallery-TOTAL_FORMS').val();
            console.log(parent);
            $('#id_extra_gallery-TOTAL_FORMS').val(parseInt(total_forms)+1);
            let new_form_image = $(parent).find('#id_extra_gallery-__prefix__-image');
            new_form_image.attr('name', 'extra_gallery-'+total_forms+'-image');
            new_form_image.attr('id', new_form_image.attr('id').replace('__prefix__', total_forms));
            let new_form_add = $(parent).find('#id_extra_gallery-__prefix__-is_additional');
            new_form_add.attr('name', 'extra_gallery-'+total_forms+'-is_additional');
            new_form_add.attr('id', new_form_image.attr('id').replace('__prefix__', total_forms));
            let new_form_delete = $(parent).find('#id_extra_gallery-__prefix__-DELETE');
            new_form_delete.attr('name', 'extra_gallery-'+total_forms+'-DELETE');
            new_form_delete.attr('id', new_form_image.attr('id').replace('__prefix__', total_forms));
            let new_form_id = $(parent).find('#id_extra_gallery-__prefix__-id');
            new_form_id.attr('name', 'extra_gallery-'+total_forms+'-id');
            new_form_id.attr('id', new_form_image.attr('id').replace('__prefix__', total_forms));
        }
        $('.main-empty input[type="file"]').on('change', function (){
            console.log($(this));
            new_form($(this).parent());
        });
        $('.additional-empty input[type="file"]').on('change', function (){
            console.log($(this));
            new_extra_form($(this).parent());
        });

        let new_doc_form = function (){
            let total_forms = $('#id_doc-TOTAL_FORMS').val();
            $('#id_doc-TOTAL_FORMS').val(parseInt(total_forms)+1);
            let new_form = $(".empty-form-formset .doc-formset-item").first().clone();
            let new_form_id = new_form.find('#id_doc-__prefix__-id');
            new_form_id.attr('name', new_form_id.attr('name').replace('__prefix__', total_forms));
            new_form_id.attr('id', new_form_id.attr('id').replace('__prefix__', total_forms));
            let new_form_image = new_form.find('#id_doc-__prefix__-file');
            new_form_image.attr('name', new_form_image.attr('name').replace('__prefix__', total_forms));
            new_form_image.attr('id', new_form_image.attr('id').replace('__prefix__', total_forms));
            let new_form_name = new_form.find('#id_doc-__prefix__-name');
            new_form_name.attr('name', new_form_name.attr('name').replace('__prefix__', total_forms));
            new_form_name.attr('id', new_form_name.attr('id').replace('__prefix__', total_forms));
            $('#form-websitedocument-rows').append(new_form);
        }
        $('.form-row-add-websitedocument-btn').on('click', function (e){
            e.preventDefault();
            new_doc_form();
        });


        $('#id_description').summernote({
             lang:'ru-RU',
  styleTags: [
    'p', 'pre', 'h1', 'h2', 'h3', 'h4', 'h5', 'h6'
	],
            toolbar: [
                ['style', ['style']],
                ['font', ['bold', 'underline', 'clear']],
                ['para', ['ul', 'ol', 'paragraph']],
            ]
  });
        $('#id_extra_description').summernote({
             lang:'ru-RU',
  styleTags: [
    'p', 'pre', 'h1', 'h2', 'h3', 'h4', 'h5', 'h6'
	],
            toolbar: [
                ['style', ['style']],
                ['font', ['bold', 'underline', 'clear']],
                ['para', ['ul', 'ol', 'paragraph']],
            ]
  });

</script>
{% endblock %}