{% extends 'admin_app/base.html' %}
{% load static %}


{% block content %}
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-sm-6">
                <h1>Шаблони</h1>
              </div>
              <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                  <li class="breadcrumb-item"><a href="/admin_app">Главная</a></li>
                  <li class="breadcrumb-item"><a href="{% url 'receipt_list' %}">Квитанции</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'update_receipt' receipt.id %">Квитанция, №{{ receipt.id }}</a></li>
                  <li class="breadcrumb-item active">Печатная форма документа</li>
                </ol>
              </div>
            </div>
                    {% csrf_token %}

          </div>
    </section>
<section class="content">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-sm-12 col-lg-6">
                    <h5 style="font-size: 18px; color: grey">Список шаблонів</h5>
                </div>
                <div class="col-sm-12 col-lg-6 text-right">
                    <a class="btn btn-default" href="{% url 'template_create' %}">Настройка шаблонов</a>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-7 col-lg-4">
                    {% csrf_token %}
                    {% for object in object_list %}
                        <div class="form-group" style="margin-left: 2%; margin-top: 2%;">
                            <label for="receipt-template-{{ object.pk }}">
                                <input type="radio" id="receipt-template-{{ object.pk }}" value="{{ object.pk }}" class="form-check-input" id="receipt-template-{{ object.pk }}" name="templates" {% if object.is_default %}checked{% endif %}>
                                {{ object.name }}
                            </label>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 text-right add-href">
                    <button type="button" class="btn btn-success" style="margin-right: 1%;" onclick="fetchForTemplate()">Скачать</button>
                    <button type="button" class="btn btn-default" onclick="sendToEmail()">Отправить на e-mail</button>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block script %}
<script>
    function fetchForTemplate() {
        let template = $('input[type="radio"]:checked').val();
        $.ajax({
            url: `{% url 'build_receipt_file' %}?receipt={{ receipt }}&template=${template}`,
            type: 'POST',
            headers: {
                'X-CSRFToken': $("input[name=csrfmiddlewaretoken]").val()
            },
            success: function(data) {
                if (data['answer'] === 'success') {
                    window.location = data['file_path'];
                    Swal.fire({
                        position: 'top-end',
                        icon: 'success',
                        title: ' Ожидайте файл',
                        showConfirmButton: false,
                        timer: 1200,
                    })
                }
                else {
                    Swal.fire({
                        position: 'top-end',
                        icon: 'error',
                        title: 'Ошибка скачивания',
                        showConfirmButton: false,
                        timer: 1200
                    });
                }
            }
        })
    }

    function sendToEmail() {
        let template = $('input[type="radio"]:checked').val();
        $.ajax({
            url: `{% url 'build_receipt_file' %}?receipt={{ receipt }}&template=${template}`,
            type: 'POST',
            headers: {
                'X-CSRFToken': $("input[name=csrfmiddlewaretoken]").val()
            },
            success: function(data) {
                if (data['answer'] === 'success') {
                    let full_path = data['full_path'];
                    fetchToSendEmail(full_path);
                }
                else {
                    Swal.fire({
                        position: 'top-end',
                        icon: 'error',
                        title: 'Что-то пошло не так!',
                        showConfirmButton: false,
                        timer: 1200
                    });
                }
            }
        })
    }

    function fetchToSendEmail(full_path) {
        $.ajax({
            type: 'GET',
            url: `{% url 'send_receipt' %}?full_path=${full_path}&receipt={{ receipt }}`,
            success: function(data) {
                if (data['answer'] === 'success') {
                    Swal.fire({
                        position: 'top-end',
                        icon: 'success',
                        title: 'Успешно отправлено!',
                        showConfirmButton: false,
                        timer: 1200,
                    })
                }
                else {
                    Swal.fire({
                        position: 'top-end',
                        icon: 'error',
                        title: 'Что-то пошло не так!',
                        showConfirmButton: false,
                        timer: 1200
                    });
                }
            }
        })
    }
</script>
{% endblock %}
