{% extends 'admin_app/base.html' %}
{% load static %}
{% block header %}
<link rel="stylesheet" href="{% static 'plugins/daterangepicker/daterangepicker.css'%}">
{% endblock %}
{% block content %}
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Показания счетчиков</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/admin_app">Главная</a></li>
                    <li class="breadcrumb-item active">Показания счетчиков</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <div class="float-right mb-2 mt-2">
                <a href="{% url 'create_counter' %}" class="btn btn-success">Добавить показание</a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-tools">
                        <a href="{% url 'counter_list'%}" class="btn btn-default btn-sm">
                            <span class="hidden-sm">Очистить</span>
                        </a>
                    </div>
                </div>
                <div class="card-body">
                    <form method="get" id="filter-form">
                        <table class="table table-bordered table-hover sorting-table" data-filter-control="true">
                            <thead>
                            <tr>
                                <th>№</th>
                                <th style="width: 100px;">Статус</th>
                                <th>Дата</th>
                                <th>Месяц</th>
                                <th>Дом</th>
                                <th>Секция</th>
                                <th>№ квартиры</th>
                                <th>Счетчик</th>
                                <th>Текущие показания</th>
                                <th>Едм. Изм.</th>
                                <th style="width: 114px; min-width: 114px">&nbsp;</th>
                            </tr>
                            <tr id="w0-filters" class="filters">
                                <td>{{ form.id }}</td>
                                <td>{{ form.status }}</td>
                                <td>{{ form.date }}</td>
                                <td></td>
                                <td>{{ form.flat__house_id }}</td>
                                <td>{{ form.section }}</td>
                                <td>{{ form.flat__number }}</td>
                                <td>{{ form.service }}</td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            </thead>
                            <tbody>
                            {% for counter in counter_list %}
                            <tr class="clickable-row" href="{% url 'counter_detail' counter.id %}">
                                <td>{{ counter.id }}</td>
                                <td>{{ counter.status }}</td>
                                <td>{{ counter.date }}</td>
                                <td>{{ counter.date }}</td>
                                <td>{{ counter.flat.house }}</td>
                                <td>{{ counter.flat.section }}</td>
                                <td>{{ counter.flat.number }}</td>
                                <td>{{ counter.service }}</td>
                                <td>{{ counter.indication }}</td>
                                <td>{{ counter.service.unit }}</td>
                                <td>
                                    <div class="btn-group float-right">
                                        <a class="btn btn-default btn-sm" href="{% url 'update_counter' counter.id %}"
                                           title="Редактировать" data-toggle="tooltip"><i class="fas fa-pencil-alt"></i></a>
                                        <a class="btn btn-default btn-sm" href="{% url 'delete_counter' counter.id %}"
                                           title="Удалить" data-toggle="tooltip" data-pjax="0" data-method="post"><i
                                                class="fa fa-trash"></i></a>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block script %}
<script src="{% static 'plugins/moment/moment-with-locales.min.js' %}"></script>
<script src="{% static 'plugins/daterangepicker/daterangepicker.js' %}"></script>
<script>

    $('.nav-link.active').removeClass('active');
    $('.nav-link').find('p:contains("Показания счетчиков")').parents('.nav-link').addClass('active');

    $('#id_flat__house_id, #id_section, #id_flat__number, #id_service, #id_id, #id_status, #id_date').on('change', function () {
        console.log('change');
        $('#filter-form').submit();
    });

    let date = $('#id_date').daterangepicker({
        "autoUpdateInput": false,
        "showDropdowns": true,
        "opens": "center",
        locale: {
            format: 'YYYY-MM-DD'
        }
    }, function (start, end, label) {
        console.log('New date range selected: ' + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD') + ' (predefined range: ' + label + ')');
    });
    $('#id_date').on('apply.daterangepicker', function (ev, picker) {
        $(this).val(picker.startDate.format('YYYY-MM-DD') + ' - ' + picker.endDate.format('YYYY-MM-DD'));
        $(this).trigger('change');
    });

    $('#id_date').on('cancel.daterangepicker', function (ev, picker) {
        //do something, like clearing an input
        $('#id_date').val('');
        $(this).trigger('change');
    });
    $('#house').on('change', function () {
        let house = $(this).val();
        $.ajax({
            headers: {"X-CSRFToken": '{{ csrf_token }}'},
            type: "GET",
            url: "{% url 'get_section_level' %}",
            data: {'house': house},
            contentType: 'json/application',
            success: function (response) {
                let answer = JSON.parse(response);
                let sections = answer['sections'];
                $('#section').empty();
                $('#section').append($('<option>').text(''));
                for (let i = 0; i < sections.length; i++) {
                    console.log(sections[i]);
                    $('#section').append($('<option>').text(sections[i]['name']));
                }
            },
            error: function (responce) {
                $('#section').empty();
            }
        });
    });

    $(".sorting-table").DataTable({
        "responsive": true, "lengthChange": false, "autoWidth": false, "searching": false, "paging": false,
        "bInfo": false, "bSortCellsTop": true,
        "buttons": [],
        rowReorder: true,
        columnDefs: [
            {orderable: true, className: 'reorder', targets: 2},
            {orderable: true, className: 'reorder', targets: 3},
            {orderable: false, targets: '_all'}
        ]
    }).buttons().container().appendTo('.sorting-table_wrapper .col-md-6:eq(0)');
</script>
{% endblock %}
