{% extends 'admin_app/base.html' %}

{% block content %}
        <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-sm-6">
                <h1>Показания счетчиков</h1>
              </div>
              <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                  <li class="breadcrumb-item"><a href="/admin_app">Главная</a></li>
                  <li class="breadcrumb-item active">Показания счетчиков</li>
                </ol>
              </div>
            </div>
          </div>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div class="float-right mb-2 mt-2">
                    <a href="{% url 'create_counter' %}" class="btn btn-success">Добавить показание</a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-tools">
                            <a href="{% url 'counter_list' %}" class="btn btn-default btn-sm">
                                <span class="hidden-sm">Очистить</span>
                            </a>
                        </div>
                    </div>
                    <div class="card-body">
                    <form method="get" id="filter-form" action="{% url 'counter_list' %}">
                        <table id="evidence-table" class="table table-bordered table-hover sorting-table" data-filter-control="true" >
                            <thead>
                                <tr>
                                    <th>Дом</th>
                                    <th>Секция</th>
                                    <th>№ квартиры</th>
                                    <th>Счетчик</th>
                                    <th>Текущие показания</th>
                                    <th>Едм. Изм.</th>
                                    <th style="width: 114px; min-width: 114px">&nbsp;</th>
                                </tr>
                            <tr id="w0-filters" class="filters">
                                <td>{{ form.flat__house_id }}</td>
                                <td>{{ form.section }}</td>
                                <td>{{ form.flat__number }}</td>
                                <td>{{ form.service }}</td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            </thead>
                            <tbody>
                            {% for counter in counter_list %}
                                <tr >
                                    <td class="clickable-row" href="{% url 'flat_counter_list' counter.flat_id %}?service={{ counter.service_id }}">{{ counter.flat.house }}</td>
                                    <td class="clickable-row" href="{% url 'flat_counter_list' counter.flat_id %}?service={{ counter.service_id }}">{{ counter.flat.section }}</td>
                                    <td class="clickable-row" href="{% url 'flat_counter_list' counter.flat_id %}?service={{ counter.service_id }}">{{ counter.flat.number }}</td>
                                    <td class="clickable-row" href="{% url 'flat_counter_list' counter.flat_id %}?service={{ counter.service_id }}">{{ counter.service }}</td>
                                    <td class="clickable-row" href="{% url 'flat_counter_list' counter.flat_id %}?service={{ counter.service_id }}">{{ counter.indication }}</td>
                                    <td class="clickable-row" href="{% url 'flat_counter_list' counter.flat_id %}?service={{ counter.service_id }}">{{ counter.service.unit }}</td>
                                    <td>
                                        <div class="btn-group float-right" style="z-index: 1000">
                                            <a class="btn btn-default btn-sm" href="{% url 'create_counter' %}?flat={{ counter.flat_id }}&service={{ counter.service_id }}&house={{ counter.flat.house_id }}&section={{ counter.flat.section_id }}" target="_blank" title="Снять новое показание счетчика" data-toggle="tooltip">
                                                <i class="fas fa-tachometer-alt"></i>
                                            </a>
                                            <a class="btn btn-default btn-sm" href="{% url 'flat_counter_list' counter.flat_id %}?service={{ counter.service_id }}" title="Открыть историю показаний для счетчика" data-toggle="tooltip">
                                                <i class="fa fa-eye"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                    </div>
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block script %}
    <script>

    $('.nav-link.active').removeClass('active');
        $('.nav-link').find('p:contains("Показания счетчиков")').parents('.nav-link').addClass('active');



    $(document).ready(function () {
        $('#evidence-table').DataTable({
            dom: 'rtp',
            language: {
                paginate: {
                    "previous": "<<",
                    "next": ">>"
                }
            },
            columns: [
                {'data': 'Будинок'},
                {'data': 'Секція'},
                {'data': '№ Квартири'},
                {'data': 'Лічильник'},
                {'data': 'Поточні показання'},
                {'data': 'Од. вим.'},
                null
            ],
            columnDefs: [
                {orderable: false, targets: 0},
                {orderable: false, targets: 1},
                {orderable: true, targets: 2},
                {orderable: false, targets: 3},
                {orderable: false, targets: 4},
                {orderable: false, targets: 5},
                {orderable: false, targets: 6},
            ],
            initComplete: function () {
                this.api()
                    .columns()
                    .every(function () {
                        let that = this;

                        $('#id_flat__house_id, #id_section, #id_flat__number, #id_service', this.header()).on('keyup change clear', function () {
                            if (that.search() !== this.value) {
                                that.search(this.value).draw();
                            }
                        });
                    });
            },
        });
    })



    </script>
{% endblock %}
