{% extends 'admin_app/base.html' %}
{% load static %}
{% block content %}
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-sm-6">
                <h1>Тарифы</h1>
              </div>
              <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                  <li class="breadcrumb-item"><a href="/admin_app">Главная</a></li>
                  <li class="breadcrumb-item active">Тарифы</li>
                </ol>
              </div>
            </div>
          </div>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div class="float-right mb-2 mt-2">
                    <a href="{% url 'create_tariff' %}" class="btn btn-success">Добавить тариф</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md 12">
                <div class="card">
                    <div class="card-body">
                        <table class="table table-bordered table-hover sorting-table">
                            <thead>
                                <tr>
                                    <th>Название тарифа</th>
                                    <th>Описание тарифа</th>
                                    <th>Дата редактирования</th>
                                    <th style="width: 114px; min-width: 114px">&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for tariff in tariff_list %}
                                    <tr>
                                        <td onclick="show_tariff('{{tariff.id}}')">{{ tariff.name }}</td>
                                        <td onclick="show_tariff('{{tariff.id}}')">{{ tariff.description }}</td>
                                        <td onclick="show_tariff('{{tariff.id}}')">{{ tariff.date }}</td>
                                        <td>
                                            <div class="btn-group float-right">

                                                <a class="btn btn-default btn-sm" href="{% url 'update_tariff' tariff.id %}" title="Редактировать" data-toggle="tooltip"><i class="fas fa-pencil-alt"></i></a>
                                                <a class="btn btn-default btn-sm" onclick="del_tariff('{{tariff.id}}')" title="Удалить" data-toggle="tooltip" data-pjax="0" data-method="post"><i class="fa fa-trash"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block script %}
<script src="{% static 'plugins/datatables/jquery.dataTables.min.js'%}"></script>
<script src="{% static 'plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/datatables-responsive/js/dataTables.responsive.min.js'%}"></script>
<script src="{% static 'plugins/datatables-responsive/js/responsive.bootstrap4.min.js'%}"></script>
<script src="{% static 'plugins/datatables-buttons/js/dataTables.buttons.min.js'%}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.bootstrap4.min.js'%}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.html5.min.js'%}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.print.min.js'%}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.colVis.min.js'%}"></script>
<script>
$('.nav-link.active').removeClass('active');
$('.nav-link').find('p:contains("Настройки системы")').parents('.nav-link').addClass('active').parent().addClass('menu-is-opening menu-open');
$('.nav-link').find('p:contains("Тарифы")').parents('.nav-link').addClass('active');

function del_tariff(id){
    var confirm1 = confirm('Вы уверены что хотите удалить этот объект?');
    if (confirm1==false){
       return
    }
    $.ajax({
        headers: { "X-CSRFToken": '{{ csrf_token }}' },
        type: "POST",
        url: 'delete_tariff/' + id,
        success: function(response){
            console.log(response);
            location.reload();
        }
    });
}
function show_tariff(id){
    console.log(id)
    window.location.href = '/admin_app/tariff/'+id
}

</script>
{% endblock %}