{% extends 'cabinet/base.html' %}
{% load static %}
{% block header %}
      <link rel="stylesheet" href="{% static 'plugins/daterangepicker/daterangepicker.css'%}">
{% endblock %}
{% block content %}
        <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-sm-6">
                <h1>Вызов мастера</h1>
              </div>
              <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                  <li class="breadcrumb-item"><a href="/admin_app">Главная</a></li>
                  <li class="breadcrumb-item active">Вызов мастера</li>
                </ol>
              </div>
            </div>
          </div>
    </section>

     <section class="content">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div class="float-right mb-2 mt-2">
                    <a href="{% url 'cabinet:create_master_request' %}" class="btn btn-success">Добавить заявку</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div class="card">
                    <div class="card-body">
                    <form method="get" id="filter-form">
                        <table class="table table-bordered table-hover sorting-table" data-filter-control="true" >
                            <thead>
                                <tr>
                                    <th>№ заявки</th>
                                    <th>Тип мастера</th>
                                    <th>Описание</th>
                                    <th>Удобное время</th>
                                    <th>Статус</th>
                                    <th style="width: 114px; min-width: 114px">&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for masterrequest in masterrequest_list %}
                                <tr>
                                    <td>{{ masterrequest.id }}</td>
                                    <td>{{ masterrequest.type }}</td>
                                    <td>{{ masterrequest.description }}</td>
                                    <td>{{ masterrequest.date }} - {{ masterrequest.time }}</td>
                                    <td>
                                        {% if masterrequest.status == 'новое' %}
                                            <small class="badge badge-primary">{{ masterrequest.status }}</small>
                                        {% elif masterrequest.status == 'в процессе' %}
                                            <small class="badge badge-warning">{{ masterrequest.status }}</small>
                                        {% else %}
                                            <small class="badge badge-success">{{ masterrequest.status }}</small>
                                        {% endif %}
                                    </td>
                                    <td>
                                        <div class="btn-group float-right">
                                            <a class="btn btn-default btn-sm" href="{% url 'cabinet:delete_master_request' masterrequest.id %}" title="Удалить"><i class="fa fa-trash"></i></a>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </form>
                    </div>
                </div>
            </div>
        </div>
     </section>
{% endblock %}
{% block script %}
    <script>
    $("#request").css('background-color', '#e1f1ea')

    </script>
{% endblock %}