{% extends 'admin_app/base.html' %}
{% load widget_tweaks %}
{% block content %}
        <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-sm-6">
                <h1>Владельцы квартир</h1>
              </div>
              <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                  <li class="breadcrumb-item"><a href="/admin_app">Главная</a></li>
                  <li class="breadcrumb-item active">Владельцы квартир</li>
                </ol>
              </div>
            </div>
          </div>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="btn-group float-right margin-bottom mt-2 mr-5 mb-2">
                    <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Выберите действие <span class="caret"></span>
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{% url 'create_owner' %}">Добавить владельца квартиры</a>
                        <a class="dropdown-item" href="{% url 'create_message' %}?has_debt=True">Отправить сообщение должникам</a>
                        <a class="dropdown-item" href="{% url 'invite' %}">Отправить приглашение</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div class="card">
                <div class="card-header">
                    <div class="card-tools">
                    <a href="{% url 'owner_list' %}" class="btn btn-default btn-sm">
                        <span class="hidden-sm">Очистить</span>
                    </a>
                </div>
                </div>
                    <div class="card-body">
                        <table id="owner_search" class="table table-bordered table-hover sorting-table" data-filter-control="true" >
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>ФИО</th>
                                    <th style="min-width: 100px">Телефон</th>
                                    <th>Email</th>
                                    <th style="min-width: 200px">Дом</th>
                                    <th style="min-width: 200px">Квартира</th>
                                    <th>Добавлен</th>
                                    <th>Статус</th>
                                    <th style="width: 90px; min-width: 90px">Есть долг</th>
                                    <th style="width: 114px; min-width: 114px">&nbsp;</th>
                                </tr>
                            <tr id="w0-filters" class="filters">
                                <td>{{ form.id }}</td>
                                <td>{{ form.fullname }}</td>
                                <td>{{ form.phone }}</td>
                                <td>{{ form.email }}</td>
                                <td>{{ form.house }}</td>
                                <td>{{ form.flat }}</td>
                                <td>{{ form.date }}</td>
                                <td>{{ form.status }}</td>
                                <td>{{ form.debt }}</td>
                                <td></td>
                            </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block script %}
<script>

$('.nav-link.active').removeClass('active');
$('.nav-link').find('p:contains("Владельцы квартир")').parents('.nav-link').addClass('active');

$(document).ready(function () {

    var table = $('#owner_search').DataTable({
        filter: true,
        dom: 'lrtpi',
        searching: true,
        order: [0, ''],
        ordering: true,
        pageLength: 5,
        paginate: true,
        processing: true,
        serverSide: true,
        language: {lengthMenu:''},
        columns: [
            {'data': 'identify',},
            {'data': 'fullname'},
            {'data': 'phone'},
            {'data': 'email'},
            {'data': 'house',
                render: function(data, type){
                    if (data != ''){
                        return `ЖК "${data}"`
                    }
                    return ''
                }
            },
            {'data': 'flat',
                render: function(data, type){
                    if (data != ''){
                        return `№${data[0]}, ЖК "${data[1]}"`
                    }
                    return ''
                }
            },
            {'data': 'date'},
            {'data': 'status',
                render: function(data, type){
                    let status = ''
                    if (data){
                        if(data == 'Новый'){
                            status = '<small class="badge badge-warning">'+data+'</small>'
                        }else if(data == 'Активен'){
                            status = '<small class="badge badge-success">'+data+'</small>'
                        }else{
                            status = '<small class="badge badge-danger">'+data+'</small>'
                        }
                        return status
                    }
                }
            },
            {'data': 'debt',
                render: function(data, type){
                    let status = ''
                    if (data){
                        status = 'Да'
                        return status
                    }
                    return status

                }
            },
            {'data': 'id',
                render: function(data, type){
                    if (data){
                        var message = `<a class="btn btn-default btn-sm" href="{% url 'create_message' %}?owner_id=${data}" title="Отправить сообщение" data-toggle="tooltip"><i class="fas fa-envelope"></i></a>`
                        var edit_h = `<a class="btn btn-default btn-sm" href="/admin_app/update_owner/${data}" title="Редактировать" data-toggle="tooltip"><i class="fas fa-pencil-alt"></i></a>`
                        var delete_h = `<a class="btn btn-default btn-sm" href="/admin_app/delete_owner/${data}" title="Удалить" data-toggle="tooltip" data-pjax="0" data-method="post"><i class="fa fa-trash"></i></a>`
                        return '<div class="btn-group float-right">' + message + edit_h + delete_h + '</div>'
                    }
                }
            },
        ],
        ajax: {
            "data": function () {
                let info = $('#owner_search').DataTable().page.info();
                $('#owner_search').DataTable().ajax.url(`/admin_app/owner_search/${(info.page + 1)}`)
            }
        },
    })

    table.columns(0).every(function (){
        var col = this
        table.on('keyup', '#owner_id', function (){
            col
                .search(this.value)
                .draw()
        });

    })
    table.columns(1).every(function (){
        var col = this
        table.on('keyup', '#fullname', function (){
            col
                .search(this.value)
                .draw()
        });

    })
    table.columns(2).every(function (){
        var col = this
        table.on('keyup', '#phone', function (){
            col
                .search(this.value)
                .draw()
        });

    })
    table.columns(3).every(function (){
        var col = this
        table.on('keyup', '#email', function (){
            col
                .search(this.value)
                .draw()
        });

    })
    table.columns(4).every(function (){
        var col = this
        table.on('change', '#house', function (){
            col
                .search(this.value)
                .draw()
        });

    })
    table.columns(5).every(function (){
        var col = this
        table.on('keyup', '#flat', function (){
            col
                .search(this.value)
                .draw()
        });

    })
    table.columns(6).every(function (){
        var col = this
        table.on('keyup', '#date', function (){
            col
                .search(this.value)
                .draw()
        });

    })
    table.columns(7).every(function (){
        var col = this
        table.on('change', '#status', function (){
            col
                .search(this.value)
                .draw()
        });

    })
    table.columns(8).every(function (){
        var col = this
        table.on('change', '#debt', function (){
            col
                .search(this.value)
                .draw()
        });

    })

});

</script>
{% endblock %}
