{% extends 'admin_app/base.html' %}
{% block content %}
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-sm-6">
                <h1>Дома</h1>
              </div>
              <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                  <li class="breadcrumb-item"><a href="/admin_app">Главная</a></li>
                  <li class="breadcrumb-item active">Дома</li>
                </ol>
              </div>
            </div>
          </div>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div class="float-right mb-2 mt-2">
                    <a href="{% url 'create_house' %}" class="btn btn-success">Добавить дом</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md 12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-tools">
                            <a href="{% url 'house_list' %}" class="btn btn-default btn-sm">
                                <span class="hidden-xs">Очистить</span>
                            </a>
                        </div>
                    </div>
                    <div class="card-body">
                        <form method="get" id="filter-form">
                        <table id="house_table" class="table table-bordered linkedRow table-hover sorting-table">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Название</th>
                                <th>Адрес</th>
                                <th></th>
                            </tr>
                            <tr id="w0-filters" class="filters">
                                <td></td>
                                <td><input type="text" id="name" class="house_search form-control" ></td>
                                <td><input type="text" id="address" class="house_search form-control"></td>
                                <td></td>
                            </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block script %}
<script>

$('.nav-link.active').removeClass('active');
$('.nav-link').find('p:contains("Дома")').parents('.nav-link').addClass('active');

$(document).ready(function () {

    var table = $('#house_table').DataTable({
        filter: true,
        dom: 'lrtpi',
        searching: true,
        order: [0, ''],
        ordering: false,
        pageLength: 5,
        paginate: true,
        processing: true,
        serverSide: true,
        language: {lengthMenu:''},
        columnDefs: [
            {className:"house", "targets": [0, 1, 2]},
            {targets: '_all', defaultContent: ''},
        ],
        columns: [
            {'data': 'ct',},
            {'data': 'name'},
            {'data': 'address'},
            {'data': 'id',
                render: function(data, type){
                    if (data){

                        var edit_h = `<a class="btn btn-default btn-sm" href="/admin_app/update_house/${data}" title="Редактировать" data-toggle="tooltip"><i class="fas fa-pencil-alt"></i></a>`
                        var delete_h = `<a class="btn btn-default btn-sm" href="/admin_app/delete_house/${data}" title="Удалить" data-toggle="tooltip" data-pjax="0" data-method="post"><i class="fa fa-trash">`
                        return '<div class="btn-group float-right">' + edit_h + delete_h + '</div>'

                    }
                }
            },
        ],
        ajax: {
            "data": function () {
                let info = $('#house_table').DataTable().page.info();
                $('#house_table').DataTable().ajax.url(`/admin_app/house_search/${(info.page + 1)}`)
            }
        },
    })

    table.columns(1).every(function (){
        var col = this
        table.on('change', '#name', function (){
            col
                .search(this.value)
                .draw()
        });

    })
    table.columns(2).every(function (){
        var col = this
        table.on('change', '#address', function (){
            col
                .search(this.value)
                .draw()
        });

    })


    table.on('click', 'tbody tr .house', function () {
        window.location.href = '/admin_app/detail_house/12345'.replace(/12345/, table.row(this).data().id)
    })

});

</script>
{% endblock %}
<div class="btn-group float-right">
    <a class="btn btn-default btn-sm" href="{% url 'update_house' house.id %}" title="Редактировать" data-toggle="tooltip"><i class="fas fa-pencil-alt"></i></a>
    <a class="btn btn-default btn-sm" href="{% url 'delete_house' house.id %}" title="Удалить" data-toggle="tooltip" data-pjax="0" data-method="post"><i class="fa fa-trash"></i></a>
</div>