{% extends 'cabinet/base.html' %}
{% load static %}

{% block content %}
        <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-sm-6">
                <h1>Сообщения</h1>
              </div>
              <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                  <li class="breadcrumb-item"><a href="/admin_app">Главная</a></li>
                  <li class="breadcrumb-item active">Сообщения</li>
                </ol>
              </div>
            </div>
          </div>
    </section>

     <section class="content">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row m-0">
                            <div class="col-md-12">
                                    <div class="form-group float-left">
                                        <button type="button" class="btn btn-default btn-sm checkbox-toggle"><i class="fal fa-square"></i></button>
                                        <button type="button" class="btn btn-default btn-sm delete-many"><i class="fa fa-trash"></i></button>
                                    </div>
                            </div>
                        </div>
                    <form id="delete-form" action="{% url 'cabinet:delete_messages' %}" method="post">
                    {% csrf_token %}
                        <table class="table table-bordered table-hover sorting-table" data-filter-control="true" >
                            <thead>
                                <tr>
                                    <th style="width: 50px;"></th>
                                    <th>От кого</th>
                                    <th>Текст</th>
                                    <th>Дата</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for message in message_list %}
                                <tr class="clickable-row" href="{% url 'cabinet:detail_message' message.pk %}">
                                    <td>
                                        <input type="checkbox" name="ids[]" value="{{ message.id }}" class="checkbox-item">
                                    </td>
                                    <td>{% if message.from_user %}<a href="">{{message.from_user}}</a>{% else %}Не задано{% endif %}</td>
                                    <td><b>{{ message.title }}</b> - {{ message.text }}</td>
                                    <td>{{ message.created }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                      </form>
                    </div>
                </div>
            </div>
        </div>
     </section>
{% endblock %}
{% block script %}
    <script>
    $('.delete-many').on('click', function (e){
            e.preventDefault();
            $('#delete-form').submit();
        });


    $(".sorting-table").DataTable({
          "responsive": true, "lengthChange": false, "autoWidth": false, "paging": false,
            "bInfo" : false, "ordering": false,
          "buttons": []
        });
    </script>
{% endblock %}